<header id="pkt_header">
    <div class="pkt_logo_container">
        <a href="/"><img src="/images/icons/logo.svg" alt="" class="pkt_logo"></a>
    </div>
    <div class="pkt_header_gap"></div>
    <div class="pkt_auth_container">

        <a class="mybtn " href="/login">Login</a>
        <a class="mybtn " href="/login">Signup</a>
    </div>
</header>