<section class="pkt_content_container flex">
    <ul>
        <li>
            <div class="my-title">Pocket Journal</div>
        </li>
        <li>
            <div class="my-desc">Write down your daily updates in your personal online journal</div>
        </li>
        <li> <a href="/login" class="mybtn">Get Started</li></a>
    </ul>

</section>
<footer class="pkt_footer">
    <div class="pkt_privacy">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield">
            <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
        </svg>
        <span>Privacy Protected</span>
    </div>
</footer>