<section class="pkt_content_container">

    <section class="pkt_content">
        <div class="pkt_content_view">
            <a href="/" class="mybtn">Back</a>
             <div class="pkt_content_view">
            <form action="/user/add-journal" method="post">

                <input type="date" class="input-date" name="date" id="add-date" required>

                <textarea type="text" name='content' id="add-journal" class="input-text-area"
                     placeholder="Today is a good day..." required></textarea>

                <button href="/user/add-journal/" type="submit" class="mybtn new-btn bg-pink">
                    Save
                </button>
            </form>
            </div>
        </div>
    </section>
</section>