<section class="pkt_content_container">
    <section class="pkt_content_view">
        <div class="pkt_content">
            
            <a href="/" class="mybtn">Back</a>
            <div class="my-title white ">{{k}}</div>
            
            
                <div class="  white view-page">{{{html}}}</div>
            
            
        </div>
    </section>
</section>